body{
    background-image: url(background_image.png);
}


/* start of nav bar */


.nav_bar{
    width:vw;
    height:80px;
    background:transparent;
    backdrop-filter: blur(40px);
    border-radius:20px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;

}
.nav_bar a{
    text-decoration: none;
}
.nav_bar_items{
    width:100px;
    height:50px;
    background-color:#002451;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:15px;
    transition:all 0.3s ease-out 0s;
}
.nav_bar_items p{
    color:white;
}
.nav_bar_items:hover{
    cursor: pointer;
    transform:scale(1.4,1.2);
}
.nav_bar_items:active{
    cursor:pointer;
    transform:scale(1.1,0.9);
}


/* end of nav bar */
/* start of section */


.heading{
    background:transparent;
    display:flex;
    justify-content: center;
    align-items: center;
}
.heading p{
    color:white;
    font-size: 40px;
    background: transparent;
    backdrop-filter: blur(20px);
    padding:20px;
    border-radius:20px;
}
.projects_bar{
    height:800px;
    width:vw;
    margin-top:20px;
    display:flex;
    justify-content: space-evenly;
    align-items: start;
}
.projects1{
    background-color: #002451;
    height:200px;
    width:200px;
    display:inline-block;
    border-radius:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.projects1 p{
    color:white;
    font-size:30px;
}
.projects1 a{
    text-decoration: none;
    color:white;
    font-size:16px;
    padding:10px;
    background-color: #0077B6;
    border-radius:20px;
}
