body{
    background-image: url(background_image.png);
}

/* start of nav bar */

.nav_bar{
    width:vw;
    height:80px;
    background:transparent;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    border-radius:20px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;

}
.nav_bar a{
    text-decoration: none;
}
.nav_bar_items{
    width:100px;
    height:50px;
    background-color:#002451;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:15px;
    transition:all 0.3s ease-out 0s;
}
.nav_bar_items p{
    color:white;
}
.nav_bar_items:hover{
    cursor: pointer;
    transform:scale(1.4,1.2);
}
.nav_bar_items:active{
    cursor:pointer;
    transform:scale(1.1,0.9);
}


/* end of nav bar */
/*start of section */


.heading{
    background:transparent;
    display:flex;
    justify-content: center;
    align-items: center;
}
.heading p{
    color:white;
    font-size: 40px;
    background: transparent;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    padding:20px;
    border-radius:20px;
}
.abc{
    width: vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.main_contact{
    width: 50vw;
    height: 500px;
}
.contacts_bar{
    background-color: #002451;
    width:50vw;
    height:60%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.contacts_bar p{
    color:white;
    font-size: 25px;
}
.contact_lists{
    list-style-type: none;
}
.links_bar{
    background-color: #002451;
    width:50vw;
    height:40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;  
}
.links_bar a{
    color: white;
    font-size: 20px;
    background-color: #0077B6;
    padding:15px;
    border-radius:20px;
    text-decoration: none;
    transition:all 0.2s ease-out 0s;
}
.links_bar a:hover{
    cursor: pointer;
    transform: scale(1.05,1.05);
}
.links_bar a:active{
    transform: scale(1,1);
}