*{
    margin:0px;
    font-family: arial;
    border:border-box;
}
.nav_bar{
    height:60px;
    width:100%;
    background-color:#0f1111;
    color:white;
    display:flex;
    justify-content:space-evenly;
}
.nav_logo{
    height:60px;
    width:120px;
    
}
.logo{
    height:50px;
    width:100px;
    background-image:url(amazon_logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.border:hover{
    border:2px solid white;
}

/**box 2**/

nav-address{
    height:60px;
    width:150px;
}
.location_logo{
    display: inline-block;
    height:60px;
    width:100px;
    position:relative;
    top:10px;
}
.add_first{
    margin-top: 5px;
    color:#cccccc;
    font-size:1rem;
    margin-bottom: -5px;
}
.add_second{
    font-size: 1.2rem;
    font-weight: bold;
}

/** box 3 **/

.nav_search{
    height:50px;
    width:600px;
    display:flex;
    border-radius: 4px;
    background-color:rgb(0, 0, 0);
    margin-top: 5px;
    justify-content: space-evenly;
}
.nav_search:hover{
    border:2px solid #febd68;
    border-radius: 6px;
}
.search_select{
    background-color:#f3f3f3;
    width:50px;
    display:inline-block;
    border-top-left-radius:4px;
    border-bottom-left-radius: 4px;
    text-align: center;
    border:none;
}
.search_input{
    width:100%;
    font-size:1rem;
    border:none;
}
.search_logo{
    height:50px;
    width:60px;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items: center;
    font-size:1.3rem;
    background-color:#febd68;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    color:black;
}

/* box 4 */

.nav_sign_in{
    height:60px;
    width:120px;
    padding-top: 10px;
}
.nav_first{
    font-size:0.7rem;
}
.nav_second{
font-size:0.9rem;
font-weight:700;
}

/* box 5 */

.nav_orders{
    height:60px;
    width:70px;
    padding-top: 10px;
}

/* box 6 */

.nav_cart i{
    height:60px;
    width:50px;
    font-size: 30px;
    padding-top: 15px;

}
.nav_cart{
    font-size: 0.85rem;
    font-weight:700;
}


/* pane; */


.panel{
    height:40px;
    background-color:#222f3d;
    display:flex;
    color:white;
    align-items:center;
    justify-content: space-evenly;
}
.panel_options p{
    display:inline;
    font-size:0.8rem;
    margin-left:15px;
}
.panel_options{
    width:80%
}
.panel_deals{
    font-weight: 700;
}


/* hreo section */


.hero{
    background-image:url(hero.jpg);
    width:100%;
    height:350px;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    
}
.hero_message{
    background-color: white;
    text-align:center;
    height:40px;
    width: 90%;
    display:flex;
    align-items:center;
    justify-content: center;
    font-size:0.85rem;
    margin-bottom:25px;
}
.hero_message a{
    text-decoration:none;
    color:#007185;
}

/* shop section */

.shop_section{
    height:1000px;
    width:100%;
    display:flex;
    justify-content:space-around;
    background-color: #e2e7e6;
    flex-wrap:wrap;
}
.box{
    border:2px solid black;
    height:400px;
    width:23%;
    background-color:white;
    padding:20px 0px 15px;
    margin-top:1rem;
    margin-bottom:1rem;
}
.box_img{
    height:300px;
    width:300px;
    margin-top: 1rem;
    margin-bottom:1rem;
}
.box_content{
    margin-left:1rem;
    margin-right:1rem;

}
.box_content a{
    text-decoration: none;
    color:#007185;
}

/* footer */

footer{
    margin-top:15px;

}

.foot_panel1{
    background-color: #374758;
    color:white;
    height:50px;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:0.9rem;
}
.foot_panel2{
    height:350px;
    width:100%;
    background-color:#232f3e;
    display:flex;
    justify-content:space-around;
}
.list{
    width:180px;
    height:300px;
    color:white;
    margin-top:40px;
}
.list p{
    font-weight:bold;
}
.list a{
    font-size:0.9rem;
    margin-top: 10px;
    color:#dddddd;
}
.foot_panel3{
    background-color:#232f3e;
    color:white;
    border-top:0.5px solid white;
    height:70px;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.logo1{
    height:50px;
    width:100px;
    background-image:url(amazon_logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.foot_panel4{
    height:70px;
    width:100%;
    background-color:#0f1111;
    display:flex;
    flex-wrap:wrap;
    align-content:center;
}
.pages{
    height:15px;
    width:100%;
    color:white;
    text-align:center;
    margin-bottom:15px;
    margin-top:15px;
}
.copyright{
    height:15px;
    width:100%;
    color:white;
    text-align:center;
    margin-bottom:15px;
}